In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [4]:
dataset = pd.read_csv('Sub2Sys_based.csv')
dataset.head()

,Function,Failure Condition_1,Parent_System_1,Failure_Condition_B,Parent System_2,DAL
0,A,0,0,0,0,0
1,A,1,0,0,0,1
2,B,0,0,0,0,0
3,B,1,0,0,0,1
4,C,0,0,0,0,0

In [8]:
dataset.isnull().any()

Function               False
Failure Condition_1    False
Parent_System_1        False
Failure_Condition_B    False
Parent System_2        False
DAL                    False
dtype: bool

In [18]:
df1 = pd.get_dummies(dataset['Function'],dtype='float')

In [19]:
df1.head()

     A   B     C    D
0  1.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0
3  0.0  1.0  0.0  0.0
4  0.0  0.0  1.0  0.0

In [21]:
df2 = pd.concat([df1.drop['A'],dataset.drop['Function']],axis=1)

TypeError: 'method' object is not subscriptable