In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('FTA_2.csv')
df.head()

       Top_Prob  Lower_1  Lower_2  Lower_3  Lower_4  Gate  Recommendation
0  1.000000e-05   0.0100    0.001   0.0010   0.0100   0.0  Add Redundancy
1  1.000000e-09   0.1000    0.100   0.0001   0.0001   0.0             NaN
2  1.000000e-03   0.0001    0.100   0.0001   0.0001   0.0             NaN
3  1.000000e-07   0.0001    0.100   0.0001   0.0001   0.0             NaN
4  1.000000e-07   0.1000    0.100   0.0010   0.0001   0.0             NaN

In [32]:
def calculate_value(row):
    if row['Gate'] == 1:
        return row['Lower_1'] * row['Lower_2'] * row['Lower_3'] * row['Lower_4']
    else:
        return row['Lower_1'] + row['Lower_2'] + row['Lower_3'] + row['Lower_4']

In [33]:
df['total_redundancy'] = df.apply(calculate_value, axis=1)
df.head()

,Top_Prob,Lower_1,Lower_2,Lower_3,Lower_4,Gate,Recommendation,total_redundancy
0,1.000000e-05,0.0100,0.001,0.0010,0.0100,0.0,Add Redundancy,0.0220
1,1.000000e-09,0.1000,0.100,0.0001,0.0001,0.0,NaN,0.2002
2,1.000000e-03,0.0001,0.100,0.0001,0.0001,0.0,NaN,0.1003
3,1.000000e-07,0.0001,0.100,0.0001,0.0001,0.0,NaN,0.1003
4,1.000000e-07,0.1000,0.100,0.0010,0.0001,0.0,NaN,0.2011

In [34]:
df.tail()

,Top_Prob,Lower_1,Lower_2,Lower_3,Lower_4,Gate,Recommendation,total_redundancy
135,1.000000e-03,0.001,0.0100,0.1000,0.0100,1.0,NaN,1.000000e-08
136,1.000000e-05,0.001,0.0100,0.1000,0.0100,1.0,NaN,1.000000e-08
137,1.000000e-07,0.100,0.0010,0.0001,0.0010,1.0,NaN,1.000000e-11
138,1.000000e-09,0.001,0.0001,0.0001,0.0001,1.0,NaN,1.000000e-15
139,1.000000e-07,0.010,0.1000,0.0001,0.0001,1.0,NaN,1.000000e-11

In [35]:
def convert_to_exp_and_round(value):
    exp_value = "{:.1e}".format(value)
    return exp_value

In [36]:
# df['Lower_1'] = df['Lower_1'].apply(convert_to_exp_and_round)
df['Lower_2'] = df['Lower_2'].apply(convert_to_exp_and_round)
df['Lower_3'] = df['Lower_3'].apply(convert_to_exp_and_round)
df['Lower_4'] = df['Lower_4'].apply(convert_to_exp_and_round)
df['total_redundancy'] = df['total_redundancy'].apply(convert_to_exp_and_round)
df.head()

,Top_Prob,Lower_1,Lower_2,Lower_3,Lower_4,Gate,Recommendation,total_redundancy
0,1.000000e-05,0.0100,1.0e-03,1.0e-03,1.0e-02,0.0,Add Redundancy,2.2e-02
1,1.000000e-09,0.1000,1.0e-01,1.0e-04,1.0e-04,0.0,NaN,2.0e-01
2,1.000000e-03,0.0001,1.0e-01,1.0e-04,1.0e-04,0.0,NaN,1.0e-01
3,1.000000e-07,0.0001,1.0e-01,1.0e-04,1.0e-04,0.0,NaN,1.0e-01
4,1.000000e-07,0.1000,1.0e-01,1.0e-03,1.0e-04,0.0,NaN,2.0e-01

In [37]:
def float_check(x):
    try: 
        float(x)
        return True
    except:
        return False

In [38]:
dfn = df[~df['total_redundancy'].apply(float_check)]
dfn.head()
dfn.shape

(0, 8)

In [39]:
def redundancy_recommendation(df):
    recommendations = []
    for i in range(len(df)):
        if df['total_redundancy'].iloc[i] > df['Top_Prob'].iloc[i]:
            recommendations.append('Add Redundancy')
        elif df['total_redundancy'].iloc[i] < df['Top_Prob'].iloc[i]:
            recommendations.append('Over Redundant')
        elif df['total_redundancy'].iloc[i] == df['Top_Prob'].iloc[i]:
            recommendations.append('Perfect')
        else:
            recommendations.append('No Recommendation')
    df['Recommendation'] = recommendations
    return df

In [40]:
df['total_redundancy'] = df['total_redundancy'].astype(float)
df['Top_Prob'] = df['Top_Prob'].astype(float)

In [41]:
redundancy_recommendation(df)

,Top_Prob,Lower_1,Lower_2,Lower_3,Lower_4,Gate,Recommendation,total_redundancy
0,1.000000e-05,0.0100,1.0e-03,1.0e-03,1.0e-02,0.0,Add Redundancy,2.200000e-02
1,1.000000e-09,0.1000,1.0e-01,1.0e-04,1.0e-04,0.0,Add Redundancy,2.000000e-01
2,1.000000e-03,0.0001,1.0e-01,1.0e-04,1.0e-04,0.0,Add Redundancy,1.000000e-01
3,1.000000e-07,0.0001,1.0e-01,1.0e-04,1.0e-04,0.0,Add Redundancy,1.000000e-01
4,1.000000e-07,0.1000,1.0e-01,1.0e-03,1.0e-04,0.0,Add Redundancy,2.000000e-01
...,...,...,...,...,...,...,...,...
135,1.000000e-03,0.0010,1.0e-02,1.0e-01,1.0e-02,1.0,Over Redundant,1.000000e-08
136,1.000000e-05,0.0010,1.0e-02,1.0e-01,1.0e-02,1.0,Over Redundant,1.000000e-08
137,1.000000e-07,0.1000,1.0e-03,1.0e-04,1.0e-03,1.0,Over Redundant,1.000000e-11
138,1.000000e-09,0.0010,1.0e-04,1.0e-04,1.0e-04,1.0,Over Redundant,1.000000e-15
139,1.000000e-07,0.0100,1.0e-01,1.0e-04,1.0e-04,1.0,Over Redundant,1.000000e-11

In [42]:
df.Recommendation.unique()

array(['Add Redundancy', 'Over Redundant', 'Perfect'], dtype=object)

In [43]:
df.to_csv('FTA_f.csv', index = False)